.dashboard {
  width: 80%;
  height: 70%;
  /* background-color: #faf1e6; */
  /* background-color: #1a1a2e; */
  position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 1px 2px 12px 0px #e945602c;
  box-shadow: 1px 1px 2px 0px #e94560;
  border-radius: 20px;
  padding: 30px;
}

.dashboard-humidity_percent {
  -webkit-box-shadow: 1px 2px 12px 0px #00a8cc;
  box-shadow: 1px 1px 2px 0px #00a8cc;
}
.dashboard-temperature_celsius {
  -webkit-box-shadow: 1px 2px 12px 0px #e945602c;
  box-shadow: 1px 1px 2px 0px #e94560;
}
.dashboard-air_pressure {
  -webkit-box-shadow: 1px 2px 12px 0px #5c7aea;
  box-shadow: 1px 1px 2px 0px #5c7aea;
}

header {
  width: 100%;
  text-align: center;
  color: #fff;
  margin: 20px;
  font-size: 15px;
}

header h1 {
  font-weight: 200;
  font-size: 21px;
}

.btn {
  background-color: #1a1a2e;
  color: #ffff;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  border: none;
  font-size: 20px;
  transition: 0.2s ease-in;
  cursor: pointer;
}

.btn-primary {
  border: 1px solid #343452;
  color: #343452;
}

.btn-primary:hover {
  background-color: #e94560;
  color: #1a1a2e;
}

.btn-active {
  border: 1px solid #fff;
  background-color: #e94560;
  color: #1a1a2e;
  /* border-style: none; */
}

.dashboard-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
  font-weight: 300;
  text-align: center;
  font-size: 17px;
  color: #ffff;
}

.bold {
  font-weight: 700;
}

.border-bottom {
  border-bottom: 1px solid #e94560;
  padding-bottom: 3px;
}

.location {
  font-size: 28px;
  color: #fff;
  font-weight: bold;
  padding-bottom: 10px;
  /* border-bottom: 3px solid #e94560; */
}
.date {
  font-weight: 300;
  font-size: 21px;
  margin-left: 35px;
}

.custom-tooltip {
  /* border: 1px solid #fff; */
  min-height: 50px;
  padding: 5px 10px;
  background-color: #e94560;
  border-radius: 5px 5px 5px 5px;
}

.humidity_percent-label {
  background-color: #00a8cc;
}
.air_pressure-label {
  background-color: #5c7aea;
}
.temperature_celsius-label {
  background-color: #e94560;
}

.custom-tooltip * {
  margin: 0;
}

.label-date {
  margin-bottom: 10px;
  font-size: 21px;
  font-weight: 500;
}

.responsive {
  position: absolute;
  bottom: 10px;
}

.highest-record {
  border-radius: 10px;
  font-size: 15px;
  color: #fff;
  width: 200px;
  padding: 5px;
}

.highest-recorded {
  font-size: 15px;
  color: #fff;
  width: max-content;
  padding: 5px;

  /* border-bottom: 0.2px solid #e94560; */
}

.thin {
  font-weight: 300;
  font-size: 15px;
  margin-left: 10px;
}
